@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);
}

body {
  font-family: sans-serif;
  background-color: var(--color-secondary-100);
}

body,button{
  font-family: Vazirmatn;
}
.serach-input::placeholder {
  font-family: "Vazirmatn";
  font-weight: 400;
  color: var(--color-secondary-400);
}


html {
  font-size: 62.5%;
}

.upload-container{
  width: 50%;
  margin:2rem auto;
  background-color: var( --color-primary-50);
  border-radius: 10px;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  
   .upload-container{

    width: 100%;
   }
  
  .serach-input{
    width: 100%!important;
  }
  .list-container{
    width: 100%;
  }
}

.main-title{
  margin: 2rem;
  color: var(--color-primary-900);
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.upload-btn {
  padding: 1rem 1.5rem;           
  border: 2px solid var( --color-secondary-0);  
  background-color: var(--color-primary-800);  
  color: var(--color-primary-50);             
  border-radius: 10px;                        
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-out;
}


.upload-btn:hover {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-50);
}

.upload-btn:hover{
  background-color: var(--color-primary-500);
 
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}
.serach-input{
  width: 50%;
  font-family: "Vazirmatn";
  appearance: none;
  padding: 10px;
  border:2px solid var(--color-primary-50) ;
  border-radius: 10px;
  transition: all 0.1s ease-out;
}
.serach-input:focus{
  outline: none;
  border: 2px solid var(--color-red-100);
  color: var(--color-primary-800);
}


table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  
}
.list-container{
   width: 100%;
  padding: 1rem;
 
}
@media (min-width: 768px) {

  .list-container{
    margin: 0 auto;
  
    width: 50%;
  }
  table{
    width: 100%;
   
}
}
.titels{
  color: var(--color-primary-800);
  background-color: var(--color-primary-100);
  padding: 1rem;
  
}
th{
 padding: 0.7rem;
 
}

td{
  padding: 1rem;
  color: var(--color-secondary-600);
   
}
.table-wrapper {
  border-radius: 10px;
  overflow: hidden;  
  border: 3px solid var(--color-primary-100);
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

 th.sortable i {
  display: inline-block    ; 
  transition: transform 0.2s ease;
}

th.sortable.asc i {
  transform: rotate(180deg);   
}
